@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Titillium+Web:wght@400;600;700&display=swap");

* {
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: #f9f9f9;
    margin: 0;
}

ul {
    list-style-type: none;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.product img {
    width: 250px;
    object-fit: contain;
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: #39669d;
}

aside {
    padding: 2rem;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.menu-button {
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-weight: 600;
}

.menu-button.active {
    background-color: #f9f9f9;
    border-radius: .5rem;
    color: #39669d;
    padding: .2rem .5rem;
}

main {
    background-color: #f9f9f9;
    margin: 1rem;
    margin-left: 0;
    border-radius: 1rem;
    padding: 3rem;
    box-sizing: border-box;
}

.main-title {
    color: #39669d;
    margin-bottom: 2rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.button-cart {
    margin: 2rem 0 0 .5rem;
}

.empty-cart {
    color: #39669d;
    font-weight: 600;
    display: none;
}

.products-cart {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #aec0d63b;
    padding: .5rem .7rem;
    border-radius: .7rem;
}

.product-cart-imagen {
    width: 4rem;
    border-radius: .4rem;
}


.handle-cart {
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.handle-cart-delete {
    cursor: pointer;
}

.handle-cart-derecha {
    display: flex;
    margin-right: 2rem;
    height: 2.5rem;
    align-items: center;
    gap: .7rem;
}

.handle-cart-total {
    display: flex;
}

.wrapper {
    width: 100%;
    max-width: 1024px;
    padding-top: 20px;
    text-align: center;
}

h2 {
    font-family: sans-serif;
    color: #fff;
}

.carousel {
    width: 90%;
    max-width: 80vw;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px;
}

.slick-slide img {
    width: 100%;
    border: 2px solid #fff;
}

.wrapper .slick-dots li button:before {
    font-size: 20px;
    color: white;
}